 /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif; */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

.grid-container{
    max-width: 980px;
    margin: auto;
}

header{
    width: 100%;
    height: 14rem;
    display: grid;
    grid-template-rows: 1fr 1fr;

}

header .header-icons-container{
    width: 100%;
    height: 5rem;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons{
    width: 30rem;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 5rem;
}

header .header-icons-container .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 9rem;
}

nav .nav-logo-container{
    margin-left: 5rem;
}

nav .nav-logo-container img{
    width: 22rem;
    margin-top: 1rem;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
}

nav .profile-link a{
     color: black;
     font-weight: bold;
     border-bottom: 1px solid black;
     font-size: 2.5rem;

}

.home-main{
    height: calc( 100vh - 14rem );
    background-image: url(../assets/img/Cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .main-title{
   font-size: 4rem;
   color: white;
   letter-spacing: 10px;
   text-align: center;
}


main .main-container-button {    
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

main .main-container-button a {    
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: #47cfac;
    padding: 1rem;

}


.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 5rem 4rem;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;

}

.blogs-main-new h3{
    font-size: 2.5rem;
    margin: .5rem 0;
}

.blogs-new-img{
    grid-column: 1;
}

.blogs-new-img img{
 width: 65%;
}

.blogs-new-info{
    grid-column: 2;
    align-self: center;

}

.blogs-new-info p{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

.blogs-post-container{
    padding:  0 5rem 4rem;
}

.blogs-post-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 25px;
}

.blogs-button{
    border: 1px solid black;
    padding: 1rem 1.5rem ;
    font-size: 1.2rem;
}

.blogs-button:hover {
	border: 1px solid white;
	color: white;
	background-color: #48CFAD;
}


.blogs-post-container .post-container{
    display: inline-block;
    padding-left: 1rem;
    margin-bottom:100px;
    width: 300px;
}

.blogs-post-container .post-container p{
    margin-bottom: 15px;
}


.blogs-post-container .post-container img{
    width: 100%;
}

footer{
   width: 100%;
   height: 8rem;
   background-color: #22272d; 
   border-top: 35px solid #47cfac;
}

footer p{
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}


.blogpost-img-container, .blogpost-main-container{
    padding: 0 50px 40px ;
}

.blogpost-img-container img{
    width: 100%;
}

.blogpost-main-container h3{
 border-bottom: 1px solid #cdd2da;
 padding-bottom: 10px;
 font-size: 1.5rem;
 margin-bottom: 10px;
}
.blogpost-main-container article h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.blogpost-main-container article p{
    font-size: 1.6rem;
}













